@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 10%;
  box-sizing: border-box;
}

#message__inner {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  background: url(../images/message.svg) no-repeat center center / contain;
}

@media (max-width: 800px) {
  #message {
    padding: 50px;
  }
  #message__inner {
    max-width: 400px;
    background-image: url(../images/message_sp.svg);
  }
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
}

#logo svg {
  width: 100%;
}

#logo g {
  opacity: 0;
}

#line {
  stroke-width: 0;
}

#coming:hover #line {
  stroke-width: 2;
}

.news {
  position: absolute;
  bottom: 0;
  right: 20%;
}

.news {
  display: block;
  color: #c1272d;
  font-family: 'Zen Old Mincho', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
}

.news dl {
  margin: 0;
}

.news dt {
  font-size: min(4vw, 58px);
  border-bottom: min(0.2vw, 2px) solid #fff;
  line-height: 1.1;
}

.news:hover dt {
  border-bottom-color: #000;
}

.news dd {
  margin: 0;
  font-size: min(1.7vw, 24px);
  line-height: 1.1;
}
